<?xml version="1.0" encoding="utf-8"?>
<project>
	<WBW5511A>
		<battery_capacity>1800</battery_capacity>
		<ac_charge>800</ac_charge>
		<usb_charge>500</usb_charge>
		<original_current>363</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>2.03</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>21</item>
			<item>30</item>
			<item>30</item>
			<item>28</item>
			<item>31</item>
			<item>29</item>
			<item>29</item>
			<item>31</item>
			<item>28</item>
			<item>30</item>
		</endurance_time>
	</WBW5511A>
	
	<CBW5702A>
		<battery_capacity>2300</battery_capacity>
		<ac_charge>1000</ac_charge>
		<usb_charge>500</usb_charge>
		<original_current>247</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>0.29</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>31</item>
			<item>58</item>
			<item>64</item>
			<item>46</item>
			<item>50</item>
			<item>55</item>
			<item>52</item>
			<item>40</item>
			<item>26</item>
			<item>19</item>
		</endurance_time>
	</CBW5702A>
	
	<WBW5706A>
		<battery_capacity>2400</battery_capacity>
		<ac_charge>950</ac_charge>
		<usb_charge>500</usb_charge>
		<original_current>343</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>2.17</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>40</item>
			<item>42</item>
			<item>43</item>
			<item>38</item>
			<item>41</item>
			<item>40</item>
			<item>44</item>
			<item>44</item>
			<item>43</item>
			<item>32</item>
		</endurance_time>
	</WBW5706A>
	
	<GBW5705A>
		<battery_capacity>2200</battery_capacity>
		<ac_charge>1000</ac_charge>
		<usb_charge>500</usb_charge>
		<original_current>278</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>1.82</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>41</item>
			<item>50</item>
			<item>41</item>
			<item>56</item>
			<item>50</item>
			<item>46</item>
			<item>55</item>
			<item>40</item>
			<item>26</item>
			<item>19</item>
		</endurance_time>
	</GBW5705A>
	
	<WBW5518A>
		<battery_capacity>1800</battery_capacity>
		<ac_charge>950</ac_charge>
		<usb_charge>500</usb_charge>
		<original_current>325</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>1.92</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>42</item>
			<item>40</item>
			<item>39</item>
			<item>37</item>
			<item>36</item>
			<item>32</item>
			<item>33</item>
			<item>38</item>
			<item>36</item>
			<item>34</item>
		</endurance_time>
	</WBW5518A>

	<WBW5508A>
		<battery_capacity>1800</battery_capacity>
		<ac_charge>950</ac_charge>
		<usb_charge>500</usb_charge>
		<original_current>345</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>2.23</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>23</item> 
			<item>28</item>
			<item>30</item>
			<item>33</item>
			<item>33</item>
			<item>30</item>
			<item>31</item>
			<item>32</item>
			<item>28</item>
			<item>19</item>
		</endurance_time>
	</WBW5508A>

	<WBW5707A>
		<battery_capacity>2050</battery_capacity>
		<ac_charge>950</ac_charge>
		<usb_charge>500</usb_charge>
		<original_current>177</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>0.21</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>77</item>
			<item>73</item>
			<item>85</item>
			<item>76</item>
			<item>74</item>
			<item>80</item>
			<item>75</item>
			<item>78</item>
			<item>72</item>
			<item>70</item>
		</endurance_time>
	</WBW5707A>
	<WBW5506A>
		<battery_capacity>4350</battery_capacity>
		<ac_charge>950</ac_charge>
		<usb_charge>500</usb_charge>
		<original_current>302</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>1.97</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>82</item>
			<item>74</item>
			<item>65</item>
			<item>58</item>
			<item>67</item>
			<item>68</item>
			<item>67</item>
			<item>69</item>
			<item>70</item>
			<item>39</item>
		</endurance_time>
	</WBW5506A>
	<WBW5527A>
		<battery_capacity>5200</battery_capacity>
		<ac_charge>1050</ac_charge>
		<usb_charge>450</usb_charge>
		<original_current>351</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>2.27</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>94</item>
			<item>82</item>
			<item>87</item>
			<item>80</item>
			<item>77</item>
			<item>82</item>
			<item>80</item>
			<item>86</item>
			<item>85</item>
			<item>78</item>
		</endurance_time>
	</WBW5527A>
	<GBL8608>
		<battery_capacity>2000</battery_capacity>
		<ac_charge>800</ac_charge>
		<usb_charge>500</usb_charge>
		<original_current>390</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>0.86</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>40</item>
			<item>65</item>
			<item>60</item>
			<item>58</item>
			<item>63</item>
			<item>59</item>
			<item>64</item>
			<item>65</item>
			<item>62</item>
			<item>63</item>
		</endurance_time>
	</GBL8608>

	<WBWX192A>
		<battery_capacity>1800</battery_capacity>
		<ac_charge>850</ac_charge>
		<usb_charge>450</usb_charge>
		<original_current>475</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>2.52</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>33</item>
			<item>19</item>
			<item>27</item>
			<item>31</item>
			<item>31</item>
			<item>30</item>
			<item>32</item>
			<item>32</item>
			<item>34</item>
			<item>32</item>
		</endurance_time>
	</WBWX192A>
	<WBW5526A>
		<battery_capacity>2000</battery_capacity>
		<ac_charge>1000</ac_charge>
		<usb_charge>450</usb_charge>
		<original_current>525</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>2.64</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>36</item>
			<item>40</item>
			<item>33</item>
			<item>50</item>
			<item>54</item>
			<item>49</item>
			<item>55</item>
			<item>48</item>
			<item>51</item>
			<item>66</item>
		</endurance_time>
	</WBW5526A>
	<WBW5528A>
		<battery_capacity>1800</battery_capacity>
		<ac_charge>1000</ac_charge>
		<usb_charge>450</usb_charge>
		<original_current>327</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>1.97</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>29</item>
			<item>29</item>
			<item>34</item>
			<item>30</item>
			<item>27</item>
			<item>27</item>
			<item>30</item>
			<item>24</item>
			<item>17</item>
			<item>15</item>
		</endurance_time>
	</WBW5528A>
	<WBL5521A>
		<battery_capacity>1800</battery_capacity>
		<ac_charge>600</ac_charge>
		<usb_charge>450</usb_charge>
		<original_current>363</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>2.22</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>36</item>
			<item>30</item>
			<item>30</item>
			<item>31</item>
			<item>32</item>
			<item>33</item>
			<item>35</item>
			<item>35</item>
			<item>32</item>
			<item>31</item>
		</endurance_time>
	</WBL5521A>
	<WBW5505A>
		<battery_capacity>1800</battery_capacity>
		<ac_charge>600</ac_charge>
		<usb_charge>450</usb_charge>
		<original_current>480</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>2.22</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>36</item>
			<item>30</item>
			<item>30</item>
			<item>31</item>
			<item>32</item>
			<item>33</item>
			<item>35</item>
			<item>35</item>
			<item>32</item>
			<item>31</item>
		</endurance_time>
	</WBW5505A>

	<WBW8901>
		<battery_capacity>2500</battery_capacity>
		<ac_charge>600</ac_charge>
		<usb_charge>450</usb_charge>
		<original_current>250</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>1.21</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>50</item>
			<item>70</item>
			<item>73</item>
			<item>75</item>
			<item>74</item>
			<item>72</item>
			<item>80</item>
			<item>79</item>
			<item>78</item>
			<item>70</item>
		</endurance_time>
	</WBW8901>
	<DEFAULT>
		<battery_capacity>3000</battery_capacity>
		<ac_charge>900</ac_charge>
		<usb_charge>350</usb_charge>
		<original_current>250</original_current>
		<default_brightness>255</default_brightness>
		<brightness_mean>1.9</brightness_mean>
		<wifi_weight>0.07</wifi_weight>
		<bt_weight>0.015</bt_weight>
		<data_weight>0.02</data_weight>
		<gps_weight>0.012</gps_weight>
		<sync_weight>0.017</sync_weight>
		<push_weight>0</push_weight>
		<power_weight>0.07</power_weight>
		<sleepout_one>0.035</sleepout_one>
		<sleepout_two>0.032</sleepout_two>
		<sleepout_three>0.03</sleepout_three>
		<sleepout_four>0.025</sleepout_four>
		<sleepout_five>0.015</sleepout_five>
		<sleepout_six>0.01</sleepout_six>
		<sleepout_seven>0.005</sleepout_seven>
		<sleepout_eight>0</sleepout_eight>
		<min_level>40</min_level>
		<multiplication>1</multiplication>
		<!-- 0 - 100-->
		<endurance_time>
			<item>93</item>
			<item>83</item>
			<item>52</item>
			<item>29</item>
			<item>38</item>
			<item>50</item>
			<item>53</item>
			<item>53</item>
			<item>52</item>
			<item>50</item>
		</endurance_time>
	</DEFAULT>
 </project>
